@use '../../styles/variables' as *;

.match-list {
    padding: 4rem 5%;
    max-width: 1000px;
    margin: 0 auto;

    @media (min-width: $max-width-md) {
        padding: 5rem 10%;
    }

    &__title {
        font-size: 2.5rem;
        font-weight: 800;
        margin-bottom: 3rem;
        color: $color-primary-black;
        letter-spacing: -0.5px;
        text-align: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 4rem;
    }

    &__actions {
        display: flex;
        justify-content: center;
    }
}