@use '../../styles/variables' as *;

.landing-page__footer {
    padding: 3rem 5%;
    background-color: $color-primary-white;
    border-top: 1px solid rgba($color-tertiary-paleshell, 0.3);
    text-align: center;

    @media (min-width: $max-width-md) {
        padding: 3rem 10%;
    }
}

.footer-brand {
    font-weight: 600;
    color: $color-tertiary-paleshell;
}